* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root {
    --color--text: #000d3a;
    --color--primary: rgba(81, 155, 221, 0.62);
    --color--primary--dark: #093159;
}

body{
    font-size: 1.6rem;
    background-color: #e3e3e3;
}

input, textarea{
    outline: none;
    border: none;
    background: none;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color--text);
}

li,ul{
    list-style: none;

}

a.hover{
    color: var(--color--primary--dark) ;
}

h1{
    color: var(--color--text);
    font-size: 4rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}


.app{
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    background-color: var(--color--primary--dark);
    border-radius: 10rem 0 0 0;
    padding: 4rem 1rem;
    width: 22rem;

}

.sidebar *{
    color: white;
}


.notes__header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.notes__header svg{
    height: 3rem;
    width: 3rem;
}

.sidebar__note{
    display: flex;
    flex-direction: column;
    border-top: 1px solid green;
    padding-top: 1rem;
    cursor: pointer;
    gap: 1rem;
}

.selected{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 0.5rem;
}

.sidebar__note.selected *{
    color: #5c5c5c;
}

.sidebar__notes{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 70vh;
    overflow-y: scroll;
}

.sidebar__note::-webkit-scrollbar {
    display: none;
}



.sidebar__form button{
    width: 100%;
    height: 4rem;
    background-color: #0a8e66;
    color: white;
    border-radius: 1rem;
}

/*.main{*/
/*    flex-grow: 1;*/
/*}*/


.main__notes{
    margin-top: 3rem;
    width: 110rem;
}


.main__form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__form *{
    background-color: white;
    height: 6rem;
    border-radius: 1rem;
    padding: 1.5rem;

}

.main__form textarea{
    resize: none;
    height: 80vh;
}

/*div{*/
/*    border: 1px solid var(--color--text);*/
/*}*/